html {
    overflow: hidden;
}

body {
    margin: 0 0;
}

body ul {
    list-style-type: none;
    margin: 0 0;
}

body table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 10%;
    border: 3px solid;
}

.header ul {
    margin: 0 0;
    height: 100%;
}

.header li {
    margin-right: 32px;
    display: inline-block;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    color: #444
}

.header li.title {
    font-size: 20px;
    font-weight: bold;
    height: 100%;
}

.footer {
    border: 3px solid;
    height: 5%;
    width: 100%;
}

.footer ul {
    margin: 10px;
}

.footer li {
    display: inline-block;
    padding-left: 60px;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 15px;
    color: #444
}

.message {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}

.scrollable-content {
    height: 93%;
    padding: 2% 3% 0 3%;
    overflow-y: auto;
}

.menu {
    overflow: hidden;
    height: 85%;
    width: 15%;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 15px;
    vertical-align: top;
}

.menu ul {
    padding: 20px 10px 20px 25px;
    margin: 10px 5px;
    background-color: beige;
    border-radius: 5px;
    border: solid 1px gray;
}

.menu li {
    margin-bottom: 10px;
}

.content {
    overflow: hidden;
    height: 85%;
    padding: 10px 10px;
    width: 85%;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 16px;
    vertical-align: top;
}