.fields {
    padding: 20px 30px;
}

.news-title input {
    width: 250px;
    margin-bottom: 15px;
    display: block;

}

.news-short textarea {
    width: 600px;
    height: 25px;
    margin-bottom: 15px;
    display: block;
}

.news-full textarea {
    width: 500px;
    height: 100px;
    margin-bottom: 15px;
    display: block;
}

.news-date {
    margin-bottom: 15px;
    display: block;
}