.news-header {
    padding: 20px 0;
    height: 60px;
    width: 100%;
}

.news-header li {
    padding: 0;
    margin: 0;
}

.edit-link {
    width: 5%;
    float: right;
    display: block;
    height: 20px;
    font-size: 15px;
}
.edit-link a {
    font-size: 15px;
    color: red;
    text-decoration: none;
}

.news-title {
    width: 70%;
    font-weight: bold;
    display: block;
    height: 20px;
    font-size: 17px;
}

.news-author,
.news-date {
    display: inline-block;
    height: 20px;
    font-size: 14px;
}

.news-author {
    width: 20%;
    text-align: left;
}

.news-date {
    width: 10%;
    text-decoration: underline;
    float: right;
}

.news-short {
    height: 70px;
    width: 100%;
    vertical-align: top;
    font-size: 13px;
    font-style: italic;
}

.news-full {
    height: 150px;
    width: 100%;
    vertical-align: top;
    font-size: 14px;
}

.news-comments {
    width: 60%;
    font-size: 12px;
}

.news-comments ul {
    width: 100%;
    padding: 0px 30px;
}

.news-comments ul li {
    height: 55px;
    padding:  10px 15px;
    margin-bottom: 5px;
    display: block;
    background-color: aliceblue;
}

.news-comments ul ul {
    height: 30px;
    margin: 10px 0;
    padding: 0 0 0 0;
}


.comment-date {
    text-decoration: underline;
    margin: 0 0;
    padding: 0 0;
}

.news-comments ul ul li {
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    display: inline-block;
}

.comment-text {
    width:95%;
}

.delete-comment {
    width: 4%;
}

.post-comment-form {
    height: 100px;
    text-align:center;
    width:450px;
}

.post-comment-form ul {
    display: block;
    width: 100%;
}

.post-comment-form textarea {
    width: 450px;
    height: 50px;
    font-size: 12px;
}

.post-comment-form li {
    padding-top:15px;
    float: left;
    width: 100%;
}

.navigation {
    margin-top: 40px;
}

.navigation ul {
    display: inline-block;
    padding: 0;
    width: 100%;
}

.navigation ul li:first-child {
    float: left;
    padding-left: 15px;
}

.navigation ul li:last-child {
    float: right;
    padding-right: 15px;
}