.news-list-div {
    height: 93%;
    padding: 2% 3% 0 3%;
}

.news-filter li {
    display: inline-block;
    padding-left: 10px;
}

.news-list {
    width: 100%;
    height: 85%;
    margin-bottom: 25px;
    overflow-y: hidden;
}

.news-list li {
    padding-top: 15px;
}

.news-head-info li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 5px;
}

.news-head-info li:last-child {
    float: right;
}

.news-tags {
    padding-right: 10px;
}

.news-title {
    font-weight: bold;
}

.news-date {
    float: right;
    text-decoration: underline;
}

.news-additional-info li {
    display: inline-block;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 13px;
}

.news-tags {
    display: inline-block;
    color: darkgrey;
    padding-left: 5px;

}

.news-additional-info li:last-child {
    float: right;
    padding-right: 20px;
    font-size: 15px;
}

.comments-count {
    color: red;
}

.pagination {
    background-color: beige;
    height: 5%;
    padding-top: 5px;
}

.pagination a {
    text-decoration: none;
}

.pagination ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0px;
    padding-left: 0px;
}

.pagination li {
    display: inline-block;
    padding-right: 5px;
}

.pagination input[type=button] {
    width: 30px;
    background-color: honeydew;
}

#currentPageButton {
    background-color:lightgray;
}