.tagsDropdown ul {
    display: block;
    width: 130px;
    height: 18px;
    padding-left: 0;
}

.tagsDropdown ul ul {
    background: #ffffff;
    list-style: none;
    position: absolute;
    display: none;
    padding-left: 0;
}

.tagsDropdown ul li:hover > ul {
    display: block;
}

.tagsDropdown ul li,
.tagsDropdown ul ul li {
    display: block;
    background: #ffffff;
    text-decoration: none;
    font: 13.3333px Arial;
    padding-left: 0px;
    border: 1px solid rgb(169, 169, 169);
}

.tagsDropdown ul ul li {
    border-bottom: none;
    border-top: none;
}

.tagsDropdown ul ul li:last-child {
    border-bottom: 1px solid rgb(169, 169, 169);
}

.tagsDropdown ul li ul {
    border-top: none;
}