html {
    overflow: hidden;
}

body {
    margin: 0 0;
}

body ul {
    list-style-type: none;
    margin: 0 0;
}

.message {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}

header {
    height: 10%;
    border: 3px solid;
}

header ul {
    margin: 0 0;
    height: 100%;
}

header li {
    margin-right: 32px;
    display: inline-block;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    color: #444
}

header li.title {
    font-size: 20px;
    font-weight: bold;
    height: 100%;
}

footer {
    border: 3px solid;
    position: absolute;
    height: 5%;
    top: 95%;
    width: 100%;
}

footer ul {
    margin: 10px;
}

footer li {
    display: inline-block;
    padding-left: 60px;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 15px;
    color: #444
}

.content {
    overflow-y: hidden;
    position: absolute;
    height: 85%;
    top: 10%;
    width: 100%;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 16px;
}