.news {
    height: 93%;
    padding: 2% 3% 0 3%;
    overflow-y: auto;
}

.news-info {
    padding-left: 20px;
    width: 100%;
    font-size: 13px;
}

.news-info tr.header {
    height: 50px;
    padding-bottom: 20px;
}

.news-info td.news-title {
    font-weight: bold;
    width: 70%;
}

.news-info td.news-author {
    width: 20%;
    padding-left: 15px;
    text-align: right;
}

.news-info td.news-date {
    width: 10%;
    text-decoration: underline;
    text-align: right;
}

.news-info tr.news-full {
    height: 150px;
    vertical-align: top;
}

.news-comments {
    width: 70%;
    font-size: 12px;
}

.news-comments ul {
    display: block;
    width: 90%;
}

.news-comments ul li {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 10px;
}

.comment-date {
    text-decoration: underline;
}

.post-comment-form,
.post-comment-form ul {
    display: block;
    text-align:center;
    width:450px;
    margin-left:auto;
    margin-right:auto;
}

.post-comment-form textarea {
    width: 450px;
    height: 50px;
    font-size: 12px;
    margin-top: 20px;
}

.post-comment-form li {
    padding-top:15px;
    float: left;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.navigation ul {
    display: inline-block;
    padding: 0;
    width: 100%;
}

.navigation ul li:first-child {
    float: left;
    padding-left: 15px;
}

.navigation ul li:last-child {
    float: right;
    padding-right: 15px;
}