.news-list-div {
    height: 93%;
    padding: 2% 3% 0 3%;
}

.news-filter li {
    display: inline-block;
    padding-left: 10px;
}

.tagsDropdown ul {
    display: block;
    width: 130px;
    height: 18px;
    padding-left: 0;
}

.tagsDropdown ul ul {
    background: #ffffff;
    list-style: none;
    position: absolute;
    display: none;
    padding-left: 0;
}

.tagsDropdown ul li:hover > ul {
    display: block;
}

.tagsDropdown ul li,
.tagsDropdown ul ul li {
    display: block;
    background: #ffffff;
    text-decoration: none;
    font: 13.3333px Arial;
    padding-left: 0px;
    border: 1px solid rgb(169, 169, 169);
}

.tagsDropdown ul ul li {
    border-bottom: none;
    border-top: none;
}

.tagsDropdown ul ul li:last-child {
    border-bottom: 1px solid rgb(169, 169, 169);
}

.tagsDropdown ul li ul {
    border-top: none;
}

.news-list {
    width: 100%;
    height: 85%;
    margin-bottom: 25px;
    overflow-y: hidden;
}

.news-list li {
    padding-top: 15px;
}

.news-head-info li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 5px;
}

.news-head-info li:last-child {
    float: right;
}

.news-tags {
    padding-right: 10px;
}

.news-title {
    font-weight: bold;
}

.news-date {
    float: right;
    text-decoration: underline;
}

.news-additional-info li {
    display: inline-block;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 13px;
}

.news-tags {
    display: inline-block;
    color: darkgrey;
    padding-left: 5px;

}

.news-additional-info li:last-child {
    float: right;
    padding-right: 20px;
    font-size: 15px;
}

.comments-count {
    color: red;
}

.pagination {
    background-color: gainsboro;
    height: 5%;
    padding-top: 5px;
}

.pagination a {
    text-decoration: none;
}

.pagination ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pagination li {
    display: inline-block;
    padding-right: 5px;
}

.pagination input[type=button] {
    width: 30px;
}

#currentPageButton {
    background-color:lightsteelblue;
}